/* Style file for 1st Hackathon.html */
body {
  background-image: url(https://images.pexels.com/photos/18545039/pexels-photo-18545039/free-photo-of-a-red-glowing-city-with-neon-lights.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  color: aliceblue;
  padding: 20px 20%;
}
.container {
  background: rgb(2, 2, 29);
  padding: 2% 5%;
  border-radius: 20px;
  border: 3px solid rgb(59, 12, 59);
}
.container:hover {
  box-shadow: 0px 3px 3px 3px white;
}


.projImage {
  display: grid;
  grid-template-columns: 20px 20px;
  grid-template-rows: 20px;
  border: 30px;
  border: 2px solid rgb(59, 12, 59);
  border-radius: 18px;
  transition: all ease-in-out 200ms;
}
.projImage:hover {
  transform: scale(1.5);
}
